
body{
    margin: 0px;
    background-color: #f5ebe0;
    color: #382818;
    text-align: center;
}

h1{
    font-size: 3em;
    padding: 30px;
    margin-top: 0px;
}

h1, .book-card{
    background-color: white;
    box-shadow: 4px 3px 3px #d6ccc2;
}

img{
    width: 200px;
}

ul{
    /* margin: 0px; */
    list-style-type: none;
    padding-inline-start: 0px;  
}

li{
    margin: 0px;
    color: red;
    text-align: center;
}

a{
    font-size: 1.3em;
    text-decoration-line: none;
    font-weight: bold;
}

a:visited{
    color:#695a4b
}

a:hover{
    color:#8c5319
}

.container{
    margin: 70px;
    margin-top: 30px;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    align-content: center;
}

.book-card{
    width: 200px;
    margin: 20px;
    transition: all 1s;
}

.book-card:hover {
    transform: scale(1.1);
}

.book-year{
    font-style: italic;
}

footer{
    background-color: #d6ccc2;
    font-size: 1.5em;
    padding: 30px;
}