body {
    background-color: rgb(30, 30, 120);
    margin-top: 0;
    text-align: center;
}
#wrap{
  
    display: flex;
    width: 800px;
    margin: auto;
    margin-top: 0;
    padding: 0px 100px;
}

#nav{
    background-color: rgb(139, 180, 227);
    width: 25%; 
}

#nav ul{
   margin-left: 20px;
}

#nav li{
    text-align: left;
}

#content{
    background-color: rgb(147, 153, 224);
    padding: 0px 20px;
    width: 75%;  
}

#content li{
    list-style: none;
}

.copyright {
    background-color: rgb(219, 146, 0);
}