body{
    border: 5px solid;
    padding: 10px;
}

#container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
height: 900px;
}
.pink{
    width: 200px;
    height: 200px;
    border: 5px solid;
    background-color: rgb(255, 135, 175);
}

.blue{
    width: 500px;
    height: 200px;
    border: 5px solid;
    background-color: rgb(100, 157, 255);
}

.yellow{
    width: 800px;
    height: 200px;
    border: 5px solid;
    background-color: rgb(245, 255, 100);
}

h1 {
    margin: 0px;
    border: 5px solid;
}
